# postgres
POSTGRES_USER=railgate_admin
POSTGRES_PASSWORD=change_me_locally
POSTGRES_DB=railgate

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@railgate.local
PGADMIN_DEFAULT_PASSWORD=change_me_locally

# redis
REDIS_PORT=6379

# terminal services
TERMINAL_SERVICE_PORT=3001
NODE_ENV=development
PORT=3000